@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

* {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  color: #333;
  box-sizing: border-box;
}

body {
  background-color: #212121;
}

.title {
  display: flex;
  justify-content: center;
}

.title h1 {
  display: flex;
  color: #f0ffff;
  font-size: 100px;
  align-items: center;
  padding-top: 8rem;
  gap: 8px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.title h1::after {
  content: "";
  width: 7px;
  height: 80px;
  background: #f0ffff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.textfield {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.loading-text {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.loading-text span {
  color: #f0ffff;
  font-size: small;
  font-weight: bold;
  margin-left: 0.5rem;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  top: 4.5px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  height: 2rem;
}

.buttons-stats {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.buttons-hint {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 190px;
}

.timer {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
}

.timer span {
  position: relative;
  color: azure;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  bottom: 9px;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: azure;
}
